
.demos {
    text-align: center;
    width: 100%;
    height: 680px;
    margin: auto;
    background-color: #eeeeee;
}

.demo-image {
    cursor: url("http://tholman.com/intense-images/img/plus_cursor.png") 25 25, auto;
    display: inline-block;
    width: 330px;
    height: 330px;
    background-size: cover;
    background-position: 50% 50%;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px; }
.demo-image.first {
    background-image: url('../imgs/1.png'); }
.demo-image.second {
    background-position: 50% 10%;
    background-image: url('../imgs/2.png'); }
.demo-image.third {
    background-image: url('../imgs/3.png'); }
.demo-image.fourth {
    background-image: url('../imgs/4.png'); }
.demo-image.fifth {
    background-image: url('../imgs/5.png'); }
.demo-image.sixth {
    background-image: url('../imgs/6.png'); }
.demo-image.seventh {
    background-image: url('../imgs/7.png'); }
.demo-image.eighth {
    background-image: url('../imgs/8.png'); }

